.header {
    background: gray;
    height: 40px;
    position: relative;
  }

.title {
    display: inline-block;
    padding: 10px;
    color: white;
}

.data {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
}

.contents {
    padding-top: 50px;
    padding-bottom: 50px;
}

.key {
    width: 40px;
    height: 50px;
    margin: 0px 20px;
    text-align: center;
    float: left;
}

.box {
	height: 25px;
	margin-top: 10px;
}

.footer {
    background: gray;
    height: 50px;
    position: relative;
}

.logo {
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
}