@media all and (max-width: 479px) {   
    
    body {
        width: 200px;
        height: none;
    }
    .header {
        height: 220px;
    }
    .top-menu {
        float: none;
        width: 60px;
        height: 150px;
        margin: 0px auto;
        padding-top: 10px;
    }
    .menu{
        top: 10px;
        margin: 0px 10px 10px 10px;
        float: none;
    }

    .left {
        width: 200px;
        height: 100px;
    }
    .right {
        width: 200px;
    }
    .contents-list {
        margin: 20px 0px 0px 30px;
    }
    .footer {
        width: 200px;
    }
}