.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    margin: 0px auto;
    width: 400px;
}

.header {
    background-color: #141f40;
    height: 100px;
    width: 100%;
}

.left{
    width: 37.5%;
    height: 250px;
    float: left;
    background-color: #80bfa8;
}

.center{
    float: right;
    width: 62.5%;
    height: 250px;
}

.center-left{
    float: left;
    width: 60%;
    height: 150px;
}

.content1{
    width: 100%;
    height: 50px;
    background-color: #dbd400;
}

.content2{
    width: 100%;
    height: 100px;
    background-color: #0093b7;
}

.center-right{
    width: 40%;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.center-bottom{
    width: 100%;
    height: 100px;
    background-color: #8c2727;
    float: right;
}

.footer {
    background-color: #d98d30;
    height: 100px;
    width: 100%;
}